<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="header">
    <div class="logo">
        <img alt="vitroplus" src="{{ .Logo }}" width="400">
    </div>
    <div class="info">
        <div class="branch">
            {{.Branch.Store}}<br>
            {{.Branch.Owner}}<br>
            {{.Branch.Address}}<br>
            {{.Branch.Phone}}
        </div>
        <div class="date">
            <span class='title'>Rapport de travail</span><br>
            <span class='text'>Date de début : <strong>{{.StartDate.Format "2006-01-02"}}</strong></span><br>
            <span class='text'>Date de fin : <strong>{{.EndDate.Format "2006-01-02"}}</strong></span>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div align="center"><h3><u>Temps travaillé par les employés durant la période</u></h3></div>
<table width="95%" class="border" cellpadding="5" align="center">
    <tr align="center">
        <th width="40%"><b>Employé</b></th>
        <th width="30%"><b>Temps travaillé</b></th>
        <th width="30%"><b>Temps supplémentaire</b></th>
    </tr>
    {{range .EmployeesReport}}
        <tr class="entry">
            <th>{{.Employee.Firstname}} {{.Employee.Lastname}}</th>
            <th>{{.TotalTime}}</th>
            <th>{{.Overtime}}</th>
        </tr>
    {{end}}
</table>

<style>
    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
    }
    
    .info {
        margin-top: 2rem;
        width: 100%;
    }

    .branch {
        float: left;
    }

    .date {
        float: right;
        text-align: right;
    }

    .border, .border tr, .border th {
        border: 2px solid black;
        border-collapse: collapse;
    }

    .entry, .entry th {
        font-weight: normal;
    }
</style>
